:root {
    --clr-black: #0F0F11;
    --clr-gray: #DDDDDD;
    --clr-gray2: #ABABAB;
    --clr-blue: #617C8D;
    --clr-blue2: #B0BBBF;
}

* {
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: var(--clr-gray);
}

#header{
    padding: 20px 0;
    background-color: #FFFFFF;
}

#header .container{
    width: 1080px;
    padding: 0;
}

.option-navbar {
    justify-content: end;
}

.navbar-brand img {
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.contract-text-link{
    margin: 0;
    border: 1px solid;
    padding: 2px 15px;
}

.contact-link {
    padding: 0;
}



/* WE MAKE BUSSINESS */

.big-background-black {
    height: 830px; 
    background-color: #0F0F11;
}

.background {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-top: 170px;
    margin-top: 0;
    text-align: justify;
    line-height: 1.1;
    color: #f7f7f7;
    font-weight: 300;
    font-size: 90pt;
    font-style: normal;
    justify-content: center;
    align-items: flex-end;
    
}

.scroll {
    width: 1080px;
    padding-left: 132px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    color: #B0BBBF;
    font-weight: 400;
}


/* CREATIVE PROBLEM */

.problem-text {
    text-align: center;
}

.problem-text-p1 {
    font-weight: 500;
    text-align: center;
}

.problem-text-p2 {
    font-weight: 700;
    text-align: center;
}

.problem-text-p3 {
    font-weight: 400;
    text-align: center;
}

.creative-problem-solving{
    width: 1080px;
    padding: 0 100px 50px 100px;
    border-bottom: 1.5px solid var(--clr-gray2);
}
/* CONSULTANCY */

.consultancy {
    width: 1080px;
    height: 395px;
    margin: 70px auto 100px auto;
     text-align: center;
    display: grid;
    background-color: #FFFFFF;
}

.fw-normal {
    margin-bottom: 0;
}

.consultancy-text {
    font-weight: 18pt;
    display: block;
}

.consultancy-container{
    display: flex;
    align-items: center;
    padding: 0 35px;
}

.content{
    display: flex;
}

.fw-bold{
    padding: 60px 30px;
}


/* CARD INSTITUCIONAL */

.card-institucional {
    width: 1080px;
    height: 500px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FFFFFF;
}

.card-institucional-img {
    width: 100%;
}

.card-institucional-img-image {
    width: 540px;
    height: 500px;
    object-fit: cover;
}

.card-sobre-nos {
    width: 1080px;
    height: 540px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FFFFFF;
}

.card-sobre-nos-img {
    width: 100%;
}

.card-sobre-nos-img-image {
    width: 540px;
    height: 540px;
    object-fit: cover;
}

.card-institucional-text {
    padding: 50px 40px;
}

.card-institucional-text h1 {
    font-size: 50px;
    font-weight: 700;
}

.card-institucional-p1 {
    font-size: 20px;
    font-weight: 600;
}

.card-institucional-p2 {
    font-weight: 400;
    margin-top: 20px;
}

.button-learn-more {
    font-weight: 700;
    color: #DDDDDD;
    border: 0;
    padding: 20px 60px;
    background-color: #0F0F11;
}

/* FOOTER */

.footer {
    background-color: #FFFFFF;
}

.footer-black {
    width: 100%;
    color: #FFFFFF;
    background-color: var(--clr-black);
}

.footer-black-content {
    width: 1080px;
    margin: 0 auto;
    padding: 80px 0 150px 0;
}

.footer-black-message p {
    font-size: 50px;
    margin-left: -10px;
}

.footer-black-contact {
    margin: auto -10px auto 0;
}

.button-contact-us {
    font-weight: 700;
    border: 0;
    padding: 15px 25px;
    background-color: var(--clr-gray2);
}

.button-contact-us:hover {
    background-color: #929292;
}

.footer-social {
    width: 1080px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    align-items: flex-end;
    flex-direction: row;
    display: flex;
    flex-basis: auto;
    justify-content: end;
    flex-grow: 1;
    align-items: center;
    list-style-type: none;
    list-style: none;
}



.social-link {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link:hover {
    cursor: pointer;
}

.social-icon-list {
    margin-left: 10px;
}

.social-icon-list i {
    font-size: 25px;
}

@media (max-width: 539px) {

    /* header */

    #header .container {
        width: 100%;
        padding: 0;
    }

    #header {
        width: 100%;
        padding: 20px 10px;
        background-color: #FFFFFF;
    }

    .navbar-collapse{
        padding: 10px;
    }

    .contract-text-link{
        padding: 2px 10px;
    }

    .contact {
        justify-content: start !important;
    }

    /* black entry*/

    .big-background-black {
        height: 600px !important; 
        background-color: rgb(0, 0, 0);
    }

    .background {
        width: 100%;
        padding-top: 50px;
        margin: 0 auto;
        font-size: 40pt;
        padding-left: 35px;
    }

    .scroll {
        width: 80%;
        margin-left: 70px;
        margin-top: 30px;
        padding-left: 0;
    }

    /* create problem solvem*/

    .creative-problem-solving {
        width: 95%;
        padding: 0 20px 50px 20px;
    }

    /* services */

    .consultancy {
        width: 95%;
        height: auto;
        margin: 40px auto -80px auto;
        background-color: #FFFFFF;
        padding: 50px 0;
    }

    /* sobre nos */
    .card-sobre-nos {
        width: 100%;
        height: 100%;
        margin: 100px auto;
        display: grid;
        grid-template-columns: auto;
        background-color: #FFFFFF;
    }

    .card-sobre-nos-img-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .button-learn-more {
        margin: 0px 0 20px 16px;
    }

    .row{
        display: grid;
        grid-template-columns: auto;
        padding: 0 70px;
    }

    /* card institucional */

    .content{
        margin-bottom: 80px;
    }

    .card-institucional-img-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-institucional {
        width: 100%;
        height: auto;
        margin: -80px auto 120px auto;
        display: grid;
        grid-template-columns: auto;
        background-color: #FFFFFF;
    }

    .content .card-sobre-nos .card-institucional-text h1{
       margin-left: 17px;
       font-size: 40px;
    }

    .content .card-institucional .card-institucional-text h1{
        margin-left: 17px;
        font-size: 40px;
    }

    .card-institucional-p2{
        padding: 0 20px;
    }

    .card-institucional-text {
        background-color: #FFFFFF;
        padding: 0;
    }

    .card-institucional-p1 {
        padding: 20px 0 0 17px;
    }

    /* footer */

    .footer{
        margin-top: -120px;
    }

    .footer-black-content {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0 50px 0;
        flex-direction: column;
    }

    .footer-social {
        width: 100%;
        padding: 20px 20px 20px 0;
        align-items: flex-end;
    }
}

@media (min-width: 540px) and (max-width: 719px) {

     /* header */

     #header .container {
        width: 90%;
        padding: 0;
    }

    #header {
        width: 100%;
        padding: 20px 10px;
        background-color: #FFFFFF;
    }

    .navbar-collapse{
        padding: 10px;
    }

    .container, .container-sm {
        max-width: 100%; 
    }

    .contract-text-link{
        padding: 2px 10px !important;
    }

    .contact {
        justify-content: start !important;
    }

    /* black entry*/

    .big-background-black {
        height: 600px !important; 
        background-color: rgb(0, 0, 0);
    }

    .background {
        width: 70%;
        padding-top: 50px;
        padding-left: 35px;
        margin: 0 auto;
        font-size: 60pt;
    }

    .scroll {
        width: 80%;
        margin-left: 35px;
        margin-top: 30px;
    }

    /* create problem solvem*/

    .creative-problem-solving {
        width: 95%;
        padding: 0 20px 50px 20px;
    }

    /* services */

    .consultancy {
        width: 100%;
        height: auto;
        margin: -80px auto -180px auto;
        background-color: #FFFFFF;
        padding: 50px 0;
    }

    .consultancy .consultancy-container .consultancy-text .row{
        display: grid;
        grid-template-columns: auto auto;
    }

    /* sobre nos */
    .card-sobre-nos {
        width: 100%;
        margin: 100px auto;
        display: grid;
        grid-template-columns: auto;
        background-color: #FFFFFF;
    }

    .card-sobre-nos-img-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /*card institucional */

    .content{
        margin-bottom: 180px;
    }

    .card-institucional-img-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-institucional {
        width: 100%;
        height: auto;
        margin: 100px auto;
        display: grid;
        grid-template-columns: auto;
        background-color: #FFFFFF;
    }

    .card-institucional-text {
        background-color: #FFFFFF;
    }

    /* footer */

    .footer{
        margin-top: -180px;
    }

    .footer-black-content {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0 50px 0;
        flex-direction: column;
    }

    .footer-social {
        width: 100%;
        padding: 20px 20px 20px 0;
        align-items: flex-end;
    }
}

@media (min-width: 720px) and (max-width: 1000px) {

    /* header */

     #header .container {
        width: 90%;
        padding: 0;
    }

    #header {
        width: 100%;
        padding: 20px 10px;
        background-color: #FFFFFF;
    }

    .navbar-collapse{
        padding: 10px;
    }

    .container, .container-sm {
        max-width: 100%; 
    }

    .contract-text-link{
        padding: 2px 10px !important;
    }

    .contact {
        justify-content: start !important;
    }

    /* black entry*/

    .big-background-black {
        height: 600px !important; 
        background-color: rgb(0, 0, 0);
    }

    .background {
        width: 70%;
        padding-top: 50px;
        margin: 0 auto;
        font-size: 70pt;
        padding-left: 25px;
    }

    .scroll {
        width: 70%;
        margin-left: 55px;
        margin-top: 30px;
    }

    /* create problem solvem*/

    .creative-problem-solving {
        width: 95%;
        padding: 0 20px 50px 20px;
    }
    
    .container .consultancy .consultancy-container .consultancy-text .row{
        display: grid;
        grid-template-columns: auto auto;
    }

    /* services */

    .consultancy {
        width: 95%;
        height: auto;
        margin: -80px auto -180px auto;
        background-color: #FFFFFF;
        padding: 50px 0;
    }

    .services{
        margin: 250px 0 200px 0 !important;
    }

    .consultancy .consultancy-container .consultancy-text .row{
        display: flex;
    }

    /* sobre nos */
    .card-sobre-nos {
        width: 95%;
        height: 380px;
        margin: 100px auto;
        display: grid;
        grid-template-columns: auto auto;
        background-color: #FFFFFF;
    }

    .card-sobre-nos-img-image {
        width: 410px;
        height: 100%;
        object-fit: cover;
    }

    /*card institucional */

    .content{
        margin-bottom: -80px;
    }

    .card-institucional-img-image {
        width: 410px;
        height: 100%;
        object-fit: cover;
    }

    .card-institucional {
        width: 95%;
        height: auto;
        margin: 100px auto;
        display: grid;
        grid-template-columns: auto auto;
        background-color: #FFFFFF;
    }

    .card-institucional-text {
        background-color: #FFFFFF;
    }

    .card-institucional-text h1 {
        font-size: 30px;
    }

    .card-institucional-text {
        padding: 50px 20px;
    }

    /* footer */

    .footer{
        margin-top: 80px;
    }

    .footer-black-content {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0 50px 0;
        flex-direction: row;
    }

    .footer-social {
        width: 100%;
        padding: 20px 20px 20px 0;
        align-items: flex-end;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {

    /* background gray */

    .background {
        width: 80%;
        padding-top: 70px;
    }

    .scroll {
        width: 80%;
        padding-left: 110px;
    }

    /* sobre nos */

    .card-sobre-nos {
        height: 100%;
        margin: 0 auto !important; 
    }

    .card-sobre-nos-img-image {
        width: 465px;
        height: 400px;
        object-fit: cover;
    }

    /* Mensagem institucional */

    .card-institucional {
        height: 100%;
    }

    .card-institucional-img-image {
        width: 465px;
        height: 400px;
    }

    /* FOOTER */

    .footer-black-content {
        width: 940px;
    }

    .footer-social {
        width: 960px;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {}
